a(href='/blogs') Back
form(action=/blog/vote', method='POST', class='make-vote')
	input(type='hidden', id='blog-id', name='blog[id]', value=blog._id.toHexString())
	input(class='upvote', type='submit', name='voteType', value='+')
	h2#votes= blog.meta.upvotes - blog.meta.downvotes
	input(class='downvote', type='submit', name='voteType', value='-')
h1= blog.title
p= dateFormatter.format(blog.date) + ' [Views ' + blog.meta.uniqueIPs.length + ']';
p!= blog.body

p 
	form(id='make-comment', action='/blog/comment', method='POST')
		input(type='hidden', id='blog-id', name='blog[id]', value=blog._id.toHexString())
		p
			label(for='comment') Submit a comment:
		p
			textarea(id='comment', name='blog[comment]', class='comment')
			input(type='submit', value='comment')
p
	div#comments
		each comment in blog.comments
			p= dateFormatter.format(comment.date);
			p= comment.body
p
	div#tags
		- if (tags)
			each tag in tags
				p= tag.name
