a(href='/blogs') Back
&nbsp;|
a(href='/blog/edit/' + blog._id.toHexString()) edit
form(action='/blog/vote/' + blog._id.toHexString(), method='POST', class='make-vote')
	input(class='upvote', type='submit', name='voteType', value='+')
	h2#votes= blog.meta.upvotes - blog.meta.downvotes
	input(class='downvote', type='submit', name='voteType', value='-')
h1= blog.title
p= dateFormatter.format(blog.date) + ' [Views ' + blog.meta.uniqueIPs.length + ']';
p!= blog.body

p 
	form(id='make-comment', action='/blog/comment/' + blog._id.toHexString(), method='POST')
		p
			label(for='comment') Submit a comment:
		p
			textarea(id='comment', name='blog[comment]', class='comment')
			input(type='submit', value='comment')
p
	div#comments
		each comment in blog.comments
			p= dateFormatter.format(comment.date);
			p= comment.body
div
	- if (tags)
		ul.tags
			each tag in tags
				li.tag= tag.name
script		
	$(function() {
		bindVotingEvents('#{blog._id.toHexString()}');	
		bindCommentEvents('#{blog._id.toHexString()}');
	});
	